<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<title>My Os Plataform</title>
</head>
<body style="width: 100%; height: 100%;">

<script type="text/javascript">
/*
	var mainMenu = new nw.Menu({type:"menubar"});
	var subMenu = new nw.Menu();

	subMenu.append(new nw.MenuItem({
		label:"Item One", 
		click: ()=>{ console.log('click');}
	}));
	subMenu.append(new nw.MenuItem({
		label:"Item Two", 
		click: ()=>{ console.log('click');}
	}));
	subMenu.append(new nw.MenuItem({label:"Item Tree", click: ()=>{ console.log('click');}}));

	mainMenu.append(new nw.MenuItem({label:"Menu", submenu: subMenu}));
	
	nw.Window.get().menu = mainMenu;
*/
</script>
</body>
</html>